@model QualityBags.Models.Order

@{
    ViewData["Title"] = "Delete Order";
}

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OrderID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrderID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Receiver)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Receiver)
        </dd>
        <dt>
            Address
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GetAddress())
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubTotal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SubTotal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TotalCost)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotalCost)
        </dd>

        <dd>
            <table class="table">
                <tr>
                    <th>Bag Number</th>
                    <th>Bag Name</th>
                    <th>Quatity</th>
                    <th>Price</th>
                </tr>
                
                @foreach (var item in Model.OrderItems)
                {
                    <tr>
                        <td>@item.Bag.BagID</td>
                        <td>@item.Bag.BagName</td>
                        <td>@item.Quantity</td>
                        <td>@item.Bag.Price</td>
                    </tr>
                }

                <tr>
                    <td></td>
                    <td></td>
                    <td>
                        <label>Total:</label>
                    </td>
                    <td>@Model.TotalCost</td>
                </tr>
            </table>
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
