@model PageList<QualityBags.Models.Bag>

@{
    ViewData["Title"] = "Our Bags";
}

<div id="mycarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#mycarousel" data-slide-to="0" class="active"></li>
        <li data-target="#mycarousel" data-slide-to="1"></li>
        <li data-target="#mycarousel" data-slide-to="2"></li>
        <li data-target="#mycarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/Bags/banner1.jpg" alt="Bag Banner Image" class="img-responsive" />
        </div>

        <div class="item">
            <img src="~/images/Bags/banner2.jpg" alt="Bag Banner Image" class="img-responsive" />
        </div>

        <div class="item">
            <img src="~/images/Bags/banner3.jpg" alt="Bag Banner Image" class="img-responsive" />
        </div>

        <div class="item">
            <img src="~/images/Bags/banner4.jpg" alt="Bag Banner Image" class="img-responsive" />

        </div>
    </div>
    <a class="left carousel-control" href="#mycarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">previous</span>
    </a>
    <a class="right carousel-control" href="#mycarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">next</span>
    </a>
</div>

<hr />

<div class="wrapper">
    <aside id="sidebar">
        <ul class="side-navbar-list">
            <li><a asp-action="Index" asp-route-catFilter="">ALL BAGS</a></li>
            @{ var cats = (List<QualityBags.Models.Category>)ViewBag.AllCategory;
                foreach (var cat in cats)
                {
                    <li><a asp-action="Index" asp-route-catId=@cat.CategoryID>@cat.CategoryName</a></li>
                }
            }
        </ul>
        <div id="content-control-tool">
            <div id="sort-control" class="">
                <label class="control-label">Sort</label>
                <select class="">
                    <option value="">- Sort Criteria -</option>
                </select>
            </div>
            <div id="search-control">
                <form asp-action="Index" asp-controller="Home" method="get">
                    <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
                    <input type="submit" value="Search" class="btn btn-default btn" />
                </form>
            </div>
        </div>
    </aside>
<div class="row text-center product-area">
    @{
        var count = 0;
        foreach (var bag in Model)
        {
            if (++count % 5 == 0)
            {
                @:</div>
                    @:<div class="row text-center">
            }

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="@bag.ImagePath" alt="@bag.BagName">
                    <div class="caption">
                        <h4>@bag.BagName - @Html.DisplayFor(b => bag.Category.CategoryName)</h4>

                        <p>
                            <span>$ @bag.Price</span>
                            <a class="btn btn-primary" asp-controller="ShoppingCarts" asp-action="AddToCart" asp-route-id="@bag.BagID">Add</a>
                        </p>
                    </div>
                </div>
            </div>

        }

    }



</div>

    @{
        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    }
    <div class="text-center">
        <a asp-action="Index"
           asp-route-sortOrder="@ViewData["CurrentSort"]"
           asp-route-page="@(Model.PageIndex - 1)"
           asp-route-currentCat="@ViewData["CurrentCat"]"
           class="btn btn-default @prevDisabled pg-pre">
            <span class="glyphicon glyphicon-step-backward"></span>Previous
        </a>
        <a asp-action="Index"
           asp-route-sortOrder="@ViewData["CurrentSort"]"
           asp-route-page="@(Model.PageIndex + 1)"
           asp-route-currentCat="@ViewData["CurrentCat"]"
           class="btn btn-default @nextDisabled pg-next">
            Next<span class="glyphicon glyphicon-step-forward"></span>
        </a>
    </div>
</div>

