@model QualityBags.Models.ShoppingCartViewModels.ShoppingCartViewModel

@{
    ViewData["Title"] = "Your cart";
    int cartCount = 0;

    foreach(var item in Model.CartItems)
    {
        cartCount += item.Count;
    }
    
}
<a id="cart-icon" class="glyphicon glyphicon-shopping-cart">Cart<i class="badge">@cartCount</i></a>

<div class="cart-container">
    <div class="row">
        <div class="col-sm-2">
            <h4 class="display-4">Bag ID</h4>
        </div>

        <div class="col-sm-2">
            <h4 class="display-4">Bag</h4>
        </div>

        <div class="col-sm-2">
            <h4 class="display-4">Category</h4>
        </div>

        <div class="col-sm-2">
            <h4 class="display-4">Quantity</h4>
        </div>
        <div class="col-sm-2">
            <h4 class="display-4">Unit Price</h4>
        </div>
        <div class="col-sm-2">
            <h4 class="display-4">Total Cost</h4>
        </div>
    </div>

    @foreach (var item in Model.CartItems)
    {
 
        <div class="row">
            <div class="col-sm-2">@item.Bag.BagID</div>

            <div class="col-sm-2">@item.Bag.BagName</div>
            <div class="col-sm-2">@item.Bag.Category.CategoryName</div>

            <div class="col-sm-2">@item.Count<a asp-action="RemoveFromCart" asp-controller="ShoppingCarts" asp-route-id="@item.Bag.BagID"><span class="glyphicon glyphicon-remove-circle"></span></a></div>

            <div class="col-sm-2">$@item.Bag.Price</div>
            <div class="col-sm-2">$@(item.Bag.Price*item.Count)</div>
        </div>
    }



    @if (@Model.CartItems.Count > 0)
    {
        <hr />
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-2"></div>
            <div class="col-sm-2"></div>
            <div class="col-sm-2"></div>
            <div class="col-sm-2">Subtotal:</div>

            <div class="col-sm-2">$@Model.CartSubTotal</div>
        </div>

        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-2"></div>
            <div class="col-sm-2"></div>
            <div class="col-sm-2"></div>
            <div class="col-sm-2">GST:</div>

            <div class="col-sm-2">$@Model.GSTPrice </div>
        </div>

        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-2"></div>
            <div class="col-sm-2"></div>
            <div class="col-sm-2"></div>
            <div class="col-sm-2">Grand Total:</div>

            <div class="col-sm-2">$@Model.CartTotal</div>
        </div>

        <div class="row">
            <hr />
            <div class="col-sm-2"></div>
            <div class="col-sm-2"></div>
            <div class="col-sm-2"></div>
            <div class="col-sm-2"><a class="btn btn-danger" asp-action="EmptyCart" asp-controller="ShoppingCarts">Clear Cart</a></div>
            <div class="col-sm-2">
                <a class="btn btn-primary" asp-action="Create" asp-controller="CustomerOrders">
                    Proceed To Checkout<span class="glyphicon glyphicon-step-forward"></span>
                </a>
            </div>
        </div>
    }
</div>

