@using QualityBags.Data
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Quality Bags</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="~/css/myCSS.css" />

        <link rel="icon" type="image/png" sizes="192x192" href="~/favicon/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="~/favicon/favicon-32x32.png">


        <link rel="icon" type="image/png" sizes="96x96" href="~/favicon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="~/favicon/favicon-16x16.png">
        <link rel="manifest" href="~/favicon/manifest.json">

        <meta name="theme-color" content="#ffffff">

        @*@RenderSection("scripts", required: false)*@
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="~/css/myCSS.css" />
        
        <link rel="icon" type="image/png" sizes="192x192" href="~/favicon/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="~/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="~/favicon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="~/favicon/favicon-16x16.png">
        <link rel="manifest" href="~/favicon/manifest.json">

        <meta name="theme-color" content="#ffffff">

     @*   @RenderSection("scripts", required: false)*@
    </environment>
    @Html.ApplicationInsightsJavaScript(TelemetryConfiguration)
     

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand"><img class="img-log img-responsive" src="~/images/QualityBag_logo.png" alt="Quality Bag Logo"></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">Quality Bags</a>
                        <ul class="dropdown-menu">

                            <li><a asp-area="" asp-controller="Home" asp-action="Index" asp-route-catFilter="">ALL BAGS</a></li>
                            @*why model passed in this page is Bag, how pass categories in db?*@

                            @await Html.PartialAsync("_categoryPartialView", new List<QualityBags.Models.Category>() { new QualityBags.Models.Category { CategoryID = 123, CategoryName = "Test" } })
                        </ul>
                    </li>
                    <li><a asp-action="Contact" asp-controller="Home">Contact</a></li>
                    <li><a asp-action="About" asp-controller="Home">About</a></li>

                    @if (User.IsInRole("Admin"))
                    {
                        <li class="dropdown">

                            <a class="dropdown-toggle" data-toggle="dropdown">Admin<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a asp-controller="Admin" asp-action="Index">Customers</a></li>
                                <li><a asp-controller="Bags" asp-action="Index">Products</a></li>
                                <li><a asp-controller="Categories" asp-action="Index">Categories</a></li>
                                <li><a asp-controller="Suppliers" asp-action="Index">Suppliers</a></li>
                                <li><a asp-controller="Orders" asp-action="Index">Orders</a></li>
                            </ul>
                        </li>
                    }
                    <li><a asp-action="Contact"></a></li>
                    <li><a asp-action="About"></a></li>
                </ul>
                @await Html.PartialAsync("_LoginPartial")

            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()



        <section class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4  col-md-4 col-sm-4">
                        <div class="footer_dv">
                            <h4>Products</h4>
                            <ul>
                                <li class="line_rv"><a href="#">Wallets</a></li>

                                <li><a href="#">Purses</a></li>
                                <li><a href="#">Backpacks</a></li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4  col-md-4 col-sm-4">
                        <div class="footer_dv">
                            <h4>Social  Media</h4>
                            <a href="#"><i class="fa fa-facebook-square ft-icon">|</i></a>&nbsp;
                            <a href="#"><i class="fa fa-twitter-square ft-icon">|</i></a>&nbsp;
                            <a href="#"><i class="fa fa-youtube-square ft-icon">|</i></a>&nbsp;
                            <a href="#"><i class="fa fa-wechat ft-icon">|</i></a>
                            <br />
                            <br/>
                            <div>&copy;2017 - All rights reserved by Quality Bags</div>
                        </div>
                    </div>
                    <div class="col-lg-4  col-md-4 col-sm-4">
                        <div class="footer_dv">
                            <h4>Contact us</h4>
                            <h3>Quality Bags Ltd.</h3>
                            <h5>
                               <b>Phone:</b> 09-12345670<br /><br />
                               <b>Email:</b> admin@qbags.com<br /><br />
                               <b>Address: </b>139, Carrington Rd, Auckland, NZ<br /><br />

                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", required: false)

    <script>

        $(document).ready(function () {
            $("#cart-icon").click(function () {
                $(".cart-container").slideToggle(500, function () {

                });

            })
        });
    </script>
</body>
</html>
